@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color:#4F4F4F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
Containers
*/
.container-xlg,
.container-lg,
.container-md,
.container-sm{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-xlg:before,
.container-xlg:after,
.container-lg:before,
.container-lg:after,
.container-md:before,
.container-md:after,
.container-sm:beofre,
.container-sm:after,
.container-xs:beofre,
.container-xs:after{
	content: "";
	display: table;
	clear: both;
}
.container-xlg{
	max-width: 1785px; 
}
.container-lg{
	max-width: 1600px !important;
}
.container {
    max-width: 1300px !important;
    width: 100% !important;
    margin: 0 auto;
}

.reset-list,
.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}

.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
}

.hide-lg{
	display: block!important;
}
.show-lg{
	display: none!important;
}
.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.show-sm{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}
#show__sm{
	display: none;
}


.hide-639{
	display: block!important;
}
.show-639{
	display: none!important;
}

.divider{
	line-height: 0;
	font-size: 0;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
/*
--------------------
 Common Padding
--------------------
*/
.prd-top-100{
	padding-top: 100px;
}
.prd-btm-100{
	padding-bottom: 100px;
}

/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1.2 !important;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif;
}
h1{
	font-size: 72px !important;
}
h2{  
	font-size: 48px !important;
}
h3{
	font-size: 36px !important;
}
h4{
	font-size: 28px !important;
}
h5{
	font-size: 24px !important;
}
h6{
	font-size: 20px !important;
}
/* Common Title */
.common-heading{
	text-align: center;
}
.common-heading h5{
	color:#1AAFE6;
	margin-bottom: 20px;
}
.common-heading h2{
	color:#243871;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.common-heading p {
    font-size: 18px;
    line-height: 1.4;
    color: #4F4F4F;
    margin-bottom: 100px;
}
/*
--------------------
 Client Slider Css
-------------------- 
*/
.slick-prev {
    left: 29% !important;
    top: 92% !important;
}
.slick-next {
    right: 29% !important;
    top: 92% !important;
}
.slick-prev,
.slick-next {
    width: 24px !important;
    height: 24px !important;
}
.slick-prev:before,
.slick-next:before {
    color: inherit !important;
	font-size: 24px !important;
	opacity: 1 !important;
}
.slick-prev:before{
	background: url(../public/images/next-icon.png);
}
.slick-next:before{
	background: url(../public/images/prev-icon.png);
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #635656 !important;
	font-size: 15px !important;
}
.slick-dots li button:before {
    font-size: 15px !important;
    opacity:1 !important;
    color: #D9D9D9 !important;
}
.slick-dots {
    bottom: -80px !important;
}
/*
---------------------
 Contact Us
--------------------- 
*/
.contact-heading p,
.contact-heading h2,
.contact-heading h5{
  color: #fff !important;
}
.contact-us-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact-us-lft{
	width: 40%;
	padding-right: 120px;
}
.contact-us-info h4{
	line-height: 1 !important;
	color: #fff;
	margin-bottom: 10px;
}
.contact-us-info p{
	font-size: 20px;
	line-height: 1.3 !important;
	color: #fff;
	margin-bottom: 70px;
}
.contact-us-info ul li{
	padding-bottom: 30px;
}
.contact-us-info ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.3;
	color: #fff;
	font-weight: 500;
	padding-left: 35px;
	position: relative;
}
.contact-us-info ul li a img{
	position: absolute;
	left: 0;
	top: 5px;
}
.contact-us-rgt{
	width: 60%;
}
.contact-us-from{
	background: #fff;
	padding: 70px 70px;
	border-radius: 10px;
}
.contact-us-from-field{
	margin-bottom: 40px;
}
.contact-us-from-field label{
	display: block;
	font-size: 20px;
	line-height: 1;
	color:#1E0E62;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.contact-us-from-field textarea,
.contact-us-from-field input{
	width: 100%;
	height: 60px;
	border-radius: 100px;
	border: 2px solid #EBEAED;
	padding: 20px 25px;
	color: rgba(21, 20, 57, 0.4);
	font-size: 18px;
	line-height: 1;
}
.contact-us-from-field textarea{
	height: 140px;
	border-radius: 10px !important;
}
.contact-us-from-field input::-webkit-input-placeholder { /* Chrome */
	color: rgba(21, 20, 57, 0.4);
	opacity: 1;
}
.contact-us-from-field input:-ms-input-placeholder { /* IE 10+ */
	color: rgba(21, 20, 57, 0.4);
	opacity: 1;
}
.contact-us-from-field input::-moz-placeholder { /* Firefox 19+ */
	color: rgba(21, 20, 57, 0.4);
	opacity: 1;
}
.contact-us-from-field input:-moz-placeholder { /* Firefox 4 - 18 */
	color: rgba(21, 20, 57, 0.4);
	opacity: 1;
}
.contact-us-from-field textarea:focus,
.contact-us-from-field input:focus{
	border-color:#1E0E62;
}
.contact-us-from-btn{
	text-align: right;
}
.contact-us-from-btn button{
	width: 195px;
	height: 60px;
	background:#25DAC5;
	border-radius: 100px;
	border: 2px solid#25DAC5;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	font-weight: 500;
}
.contact-us-from-btn button:hover{
	background: transparent;
	color: #25DAC5;
}
/*
---------------------
footer-sec-wrap
--------------------- 
*/
.footer-sec-wrap{
	background:#0A142F;
	padding: 50px 0;
	border-top: 1px solid #FFFFFF
}
.footer-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-menu ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-menu ul li{
	padding: 0 10px;
}
.footer-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	font-weight: 500;
}
.footer-socail-icon a{
	display:flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 45px;
	height: 45px;
	border: 2.25px solid #FFFFFF;
	border-radius: 50px;
	margin: 0 10px;
	float: left;
}
#DoctelWorkGridImg1 > img{
	position: absolute;
	left: 33%;
	bottom: -180px;
}
#DoctelWorkGridImg2 > img{
	position: absolute;
	left: 42%;
	bottom: -280px;
}
#DoctelWorkGridImg3 > img{
    position: absolute;
    left: 42%;
    bottom: 50px;
}
.doctel-work-grid-bg{
    position: absolute;
    left: -280px;
    right: -180px;
    bottom: 31%;
}
.doctel-work-rgt-img{
	width: 40%;
	padding-left: 45px;
}
.doctel-work-lft-innr{
	width: 60%;
	padding-right: 45px;
}

/*
-----------------------
 Responsive Css
----------------------- 
*/
@media(max-width:1399px){

}
@media(max-width:1199px){
	h1{
		font-size: 68px !important;
	}
	h2{  
		font-size: 44px !important;
	}
	h3{
		font-size: 34px !important;
	}
	h4{
		font-size: 27px !important;
	}
	h5{
		font-size: 23px !important;
	}
	h6{
		font-size: 20px !important;
	}
	.common-heading p br {
		display: none;
	}
	.common-heading p {
		margin-bottom: 70px;
	}
	#DoctelWorkGridImg2 > img {
		bottom: -200px;
		max-width: 200px;
	}
	.contact-us-lft {
		padding-right: 70px;
	}
	.contact-us-from {
		padding: 50px 50px;
	}
	.doctel-work-lft-innr {
		padding-right: 20px;
	}
	.doctel-work-rgt-img {
		padding-left: 20px;
	}
}

@media(max-width:991px){
	h1{
		font-size: 64px !important;
	}
	h2{  
		font-size: 42px !important;
	}
	h3{
		font-size: 32px !important;
	}
	h4{
		font-size: 26px !important;
	}
	h5{
		font-size: 22px !important;
	}
	h6{
		font-size: 19px !important;
	}
	#DoctelWorkGridImg2 > img {
		bottom: -130px;
		max-width: 160px;
	}
	#DoctelWorkGridImg3 > img {
		max-width: 200px;
	}
	#DoctelWorkGridImg3 > img,
	#DoctelWorkGridImg2 > img,
	#DoctelWorkGridImg1 > img {
		display: none;
	}
	.contact-us-lft {
		padding-right: 15px;
	}
	.contact-us-from {
		padding: 50px 30px;
	}
	.footer-wrap {
		display: block;
	}
	.footer-logo{
		display: table;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.footer-socail-icon{
		display: table;
		margin: 0 auto;
		padding-top: 20px;
	}
	.footer-menu ul li {
		padding: 0 5px;
	}
	.footer-menu ul li a{
		font-size: 16px;
	}
	.footer-sec-wrap {
		padding: 30px 0;
	}
	.slick-dots {
		bottom: -60px !important;
	}
}

@media(max-width:767px){
	h1{
		font-size: 58px !important;
	}
	h2{  
		font-size: 40px !important;
	}
	h3{
		font-size: 30px !important;
	}
	h4{
		font-size: 25px !important;
	}
	h5{
		font-size: 21px !important;
	}
	h6{
		font-size: 18px !important;
	}
	.common-heading h5 {
		margin-bottom: 10px;
	}
	.common-heading h2 {
		margin-bottom: 15px;
	}
	.common-heading p {
		font-size: 16px;
		margin-bottom: 60px;
	}
	#DoctelWorkGridImg1 > img {
		bottom: -100px;
	}
	.contact-us-wrap{
		display: block;
	}
	.contact-us-lft {
		padding-right: 0;
		width: 100%;
	}
	.contact-us-rgt {
		width: 100%;
	}
	.contact-us-info p {
		font-size: 18px;
		margin-bottom: 40px;
	}
	.contact-us-from-field textarea,
	.contact-us-from-field input {
		width: 100%;
		height: 50px;
		padding: 15px 20px;
		font-size: 16px;
	}
	.contact-us-from-field {
		margin-bottom: 20px;
	}
	.contact-us-from-field textarea {
		height: 100px;
	}
	.contact-us-info ul li a {
		font-size: 16px;
		padding-left: 30px;
	}
	.slick-prev {
		left: 10% !important;
		top: 80% !important;
	}
	.slick-next {
		right:10% !important;
		top: 80% !important;
	}
	.doctel-work-lft-innr {
		padding-right: 0;
		width: 100%;
	}
	.doctel-work-rgt-img {
		padding-left: 0;
		width: 100%;
		padding: 40px 0;
	}
	.doctel-work-rgt-img img{
		width: 100%;
	}
}

@media(max-width:575px){
	h1{
		font-size: 54px !important;
	}
	h2{  
		font-size: 38px !important;
	}
	h3{
		font-size: 28px !important;
	}
	h4{
		font-size: 24px !important;
	}
	h5{
		font-size: 20px !important;
	}
	h6{
		font-size: 17px !important;
	}
	.slick-dots {
		bottom: -40px !important;
	}
	.slick-prev {
		left: 0 !important;
		top: 112% !important;
	}
	.slick-next {
		right: 0 !important;
		top: 112% !important;
	}
}

@media(max-width:479px){
	h1{
		font-size: 48px !important;
	}
	h2{  
		font-size: 36px !important;
	}
	h3{
		font-size: 26px !important;
	}
	h4{
		font-size: 22px !important;
	}
	h5{
		font-size: 18px !important;
	}
	h6{
		font-size: 16px !important;
	}
	.common-heading p {
		margin-bottom: 40px;
	}
}