@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color:#4F4F4F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
Containers
*/
.container-xlg,
.container-lg,
.container-md,
.container-sm{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-xlg:before,
.container-xlg:after,
.container-lg:before,
.container-lg:after,
.container-md:before,
.container-md:after,
.container-sm:beofre,
.container-sm:after,
.container-xs:beofre,
.container-xs:after{
	content: "";
	display: table;
	clear: both;
}
.container-xlg{
	max-width: 1785px; 
}
.container-lg{
	max-width: 1600px !important;
}
.container {
    max-width: 1300px !important;
    width: 100% !important;
    margin: 0 auto;
}

.reset-list,
.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}

.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
}

.hide-lg{
	display: block!important;
}
.show-lg{
	display: none!important;
}
.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.show-sm{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}
#show__sm{
	display: none;
}


.hide-639{
	display: block!important;
}
.show-639{
	display: none!important;
}

.divider{
	line-height: 0;
	font-size: 0;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
/*
--------------------
 Common Padding
--------------------
*/
.prd-top-100{
	padding-top: 100px;
}
.prd-btm-100{
	padding-bottom: 100px;
}

/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1.2 !important;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif;
}
h1{
	font-size: 72px !important;
}
h2{  
	font-size: 48px !important;
}
h3{
	font-size: 36px !important;
}
h4{
	font-size: 28px !important;
}
h5{
	font-size: 24px !important;
}
h6{
	font-size: 20px !important;
}
/* Common Title */
.common-heading{
	text-align: center;
}
.common-heading h5{
	color:#1AAFE6;
	margin-bottom: 20px;
}
.common-heading h2{
	color:#243871;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.common-heading p {
    font-size: 18px;
    line-height: 1.4;
    color: #4F4F4F;
    margin-bottom: 100px;
}
/*
--------------------
 Client Slider Css
-------------------- 
*/
.client-says-slide-item-dsc{
	text-align: center;
}
.client-says-slide-item-dsc img{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	display: table;
	margin: 0 auto;
}
.client-says-slide-item-dsc h6{
	font-size: 16px !important;
	line-height: 1.3 !important;
	color:#2D2E2E !important;
	font-weight: 600 !important;
	margin-top: 20px;
	margin-bottom: 80px;
	display: none;
}
.client-says-slide-item-dsc p {
    font-size: 16px !important;
    line-height: 1.2 !important;
    margin-bottom: 0;
    position: absolute;
    left: 35.5%;
    bottom: 0;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
    font-weight: 400;
	display: none;
}
.slick-current .client-says-slide-item-dsc h6,
.slick-current .client-says-slide-item-dsc p{
	display: block;
}
.slick-prev {
    left: 29% !important;
    top: 95% !important;
}
.slick-next {
    right: 29% !important;
    top: 95% !important;
}
.slick-prev,
.slick-next {
    width: 24px !important;
    height: 24px !important;
}
.slick-prev:before,
.slick-next:before {
    color: inherit !important;
	font-size: 24px !important;
	opacity: 1 !important;
}
.slick-prev:before{
	background: url(../public/images/next-icon.png);
}
.slick-next:before{
	background: url(../public/images/prev-icon.png);
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #635656 !important;
	font-size: 15px !important;
}
.slick-dots li button:before {
    font-size: 15px !important;
    opacity:1 !important;
    color: #D9D9D9 !important;
}
.slick-dots {
    bottom: -80px !important;
}

